<%= javascript_include_tag Ckeditor.cdn_url %>
<h2>New post</h2>
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div class="errors">
      <h3><%= pluralize(@post.errors.count, "error") %> prevented this unit from saving.</h3>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :title, placeholder: "Title" %>
  <br>
  <%= f.text_field :description, placeholder: "Description" %>
  <br>
  <%= f.cktext_area :body, placeholder: "Body" %>
  <br>
  <%= f.submit %>



  = form_for @page do |form|
  = form.cktext_area :notes, class: 'someclass', ckeditor: { language: 'uk'}
  = form.cktext_area :content, value: 'Default value', id: 'sometext'
  = cktext_area :page, :info, cols: 40, ckeditor: { uiColor: '#AADC6E', toolbar: 'mini' }
<% end %>

