<!DOCTYPE html>
<html>
<head>
  <title>Radio Freqs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Chewy' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
<div class="tool-bar">
  <div class="wrapper">
    <% if current_admin_user %>
      <p>Welcome back, <%= current_admin_user.email %>!</p>
    <% end %>
  </div>
</div>
<header>
  <div class="wrapper">
    <h1 id="logo">The Radio Freqs</h1>
  </div>
</header>
<div class="wrapper">
  <%= yield %>
</div>

</body>
</html>